* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;

}

a:hover {
    opacity: 0.15;
}

.img-marte {
    width: 60px;
    position: static;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #8c6354;
    height: 10vh;
}
   
main {
    background-size: cover;
    height: 90vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

h1 {
    
}

.conheca-nossos-cursos {
    margin: 70px;
    padding: 20px 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: black;
}

footer h3 {
    text-align: center;
    font-size: 18px;
    
}

.textoJS {
    position: relative;
    left: 35px;
    top: 300px;
    letter-spacing: 2px;

}

.textoPY {
    position: relative;
    left: 60px;
    top: 410px;
    letter-spacing: 2px;
    
}

.textoPY:hover{
    opacity: 0.50;
}

.textoJS:hover{
    opacity: 0.50;
}

.logoPY {
    position: relative;
    left: 35px;
    top: 100px;
}

.logoJS {
    left: 35px;
    position: relative;
    
}

.inf-js {
    position: relative;
    left: 330px;
    right: 360px;
    bottom: 230px;
    border: 1px solid black;
    border-radius: 8px;
    font-size: large;
    color: white;
    background-color: #8C6354;
}

.inf-py {
    position: relative;
    left: 330px;
    right: 360px;
    bottom: 100px;
    border: 1px solid black;
    border-radius: 8px;
    font-size: large;
    color: white;
    background-color: #8C6354;
}