* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;

}

a:hover {
    opacity: 0.15;
}

.img-marte {
    width: 60px;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #8c6354;
    height: 10vh;
   
}

 main {
    background-size: cover;
    height: 90vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

h1 {
    
}

.conheca-nossos-cursos {
    margin: 70px;
    padding: 20px 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #black;
}

footer h3 {
    text-align: center;
    font-size: 18px;
    
}

.textoJS {
    padding-left: 33%;
    padding-top: 20%;
    letter-spacing: 2px;

}

.textoPY {
    bottom 50px;
    padding-left: 40%;
    letter-spacing: 2px;
}