@import url('https://fonts.googleapis.com/css2?family=Noto+Sans%3Awght%40700&family=Poppins%3Awght%40600&display=swap%27%29%3B');

* {
    margin: 0;
    padding: 0;
    font-family: Poppins; 
    
}

body { 
    background-image:url(../istockphoto-1097906842-170667a.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color:black;
    font-family: Poppins;
    font-size: 16px;
    }

a {
    text-decoration: none;
    transition: 0.3s;

}

.conheca-nossos-cursos {
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
    background-color:white;
    width: 620px;
    left: 350px;
    margin: 70px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px;
    color:black;
}

footer h3 {
    text-align: center;
    font-size: 18px;
    
}

.textoJS {
    position: relative;
    left: 35px;
    top: 300px;
    letter-spacing: 2px;
    color:black;

}

.textoPY {
    position: relative;
    left: 60px;
    top: 410px;
    letter-spacing: 2px;
    color:black;
    
}

.textoPY:hover{
    opacity: 0.50;
}

.textoJS:hover{
    opacity: 0.50;
}

.logoPY {
    position: relative;
    left: 500px;
    top: 50px;
   
}

.logoJS {
    left: 100px;
    top: 50px;
    position: relative;
    
}

section ul {
    color: black;
    background-color: hsl(43, 97%, 64%);
    font-size: 13px;
    text-align: justify;
    
}
.sec-js {
    position: relative;
    border-radius: 5px;
    width: 300px;
    height: 32vh;
    left: 380px;
    top: -180px;
    color:black;
    
}

.sec-py {
    position: relative;
    border-radius: 5px;
    width: 450px;
    height: 35vh;
    left: 1030px;
    top: -250px;
    margin-top: -138px;
    margin-left: 20px;
    margin-right: 40px;
    color:black;

}
