@import url('https://fonts.googleapis.com/css2?family=Noto+Sans%3Awght%40700&family=Poppins%3Awght%40600&display=swap%27%29%3B');

body{
    background-image:url(../istockphoto-1097906842-170667a.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
    font-family: poppins;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #d9d9d9;
}

footer{
    position:static;
    bottom: 0px;
    width: 100%;
    background: linear-gradient( 90deg, #BF6C5A, #8c6354);
}

.main-content{
    display: flex;

}
.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}
.box h2{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
.left .content{
    margin: 20px 0 0 0;
}
.left .content .social{
    margin: 20px 0 0 0;
}
.left .content .social a{
    padding: 0 2px;
}
.left .content .social a .fa{
    width: 40px;
    height: 40px;
    background: linear-gradient( 90deg, #BF6C5A, #8c6354);
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    font-size: 18px;
    transition: 0.3s;
}
.left .content .social a i:hover{
    background: white;
}
.left .content{
    text-align: justify;
}
.center .content .fa{
    font-size: 23px;
    background: linear-gradient( 90deg, #BF6C5A, #8c6354);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}
.center .content .fa:hover{
    background: white;
}
.center .content .text{
    font-size: 11px;
    font-weight: 500;
    padding-left: 10px;
}
.center .content .phone{
  margin-top: 10px 0;
}
.center .content .msg{
    margin-top: 10px;
}
.rigth form input, .rigth form textarea{
    width: 100%;
    background: linear-gradient( 90deg, #BF6C5A, #8c6354);
    padding-left: 10px;
    border: 1px solid ;
}
.rigth form input{
    height: 35px;
}
.rigth form input:focus,
.rigth form textarea:focus

.rigth form .text{
    font-size: 17px;
    margin-bottom: 2px;
}
.rigth form .btn{
    margin-top: 10px;
    color: #d9d9d9;
}
.rigth form .btn button{
    height: 40px;
    width: 100%;
    background: linear-gradient( 90deg, #BF6C5A, #8c6354);
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;

}
